body {
    background-color: palegreen;
    main {
        height: 100vh;
        h1 {
            color: palevioletred;
            font-size: 10vw;
            padding: 5vw;
        }
        section {
            padding: 5vw;
        }
    }
}